<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/contact.css">
	<link rel="icon" type="favicon/jpg" href="../img/3.jpg">
</head>
<body>
    <!--contact sec starts-->

	<section class="contact" id="contact">
		

		<div class="row">
			
			<div class="image">
				<img src="../img/contact-img.svg">
			</div>

			<form action="/Agbama-Jnr/contact" method="POST">
				
				<div class="inputBox">
					<input type="text" name="name" placeholder="Name" id="sender_name" >
					<input type="email" name="email" placeholder="Email" id="sender_email">
				</div>

				<input type="text" name="subject" placeholder="Subject" class="box" id="subject">


				<textarea placeholder="Message" name="message" id="" cols="
				20" rows="10" id="message"></textarea>

				<input type="submit" class="btn" value="send message" id="send_btn">
			</form>
		</div>
	</section>

    
</body>
</html>